*{
    box-sizing: border-box;
}

.main{
    width: 85%;
    margin: auto;
    background-color: rgb(182, 177, 177);
    padding: 100px;
}

header{
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

h2,
h3{
    font-family: sans-serif;
}

p{
    text-align: justify;
}

.top-list{
    list-style: circle;
    line-height: 25px;
    background-color: rgb(131, 129, 71);
    width: 75%;
    overflow: scroll;
    margin-top: 15px;
}

.first-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

aside{
    display:flex;
    justify-content: space-between;
}

.extra-info{
    width: 45%;
    border: 3px dashed green;
    padding: 15px;
    overflow: scroll;
    border-radius: 40%;
}

.extra-info h3{
    text-align: center;
}

.body{
    margin: 50px 0px;
  
}

ul{
    list-style: lower-alpha;
}

img{
    margin-top: 15px;
    border: 5px double;
}

span{
font-weight:normal;
 }

 table{
     border: 2px solid;
     width: 100%;
     padding: 5px;
 }

td{
     padding: 10px 5px;
 }
.row1{
     font-weight: bold;
 }

 .row2{
     text-align: right;
 }

 a{
     text-decoration: none;
 }


